/* Nav bottom */
.nav-bottom, .nav-bottom .nav-pills {
	background-color: #A633D7;
}


/* Tùy chỉnh button danh mục */
.nav-bottom .btn-danhmuc {
	color: #FFFFFF;
	background-color: #9030BA;
	padding: 10px 30px 9px 20px;
	border: none;
	font-weight: bold;
	font-size: 13px;
	outline: none;
	margin-right: 5px;
}

.nav-bottom .danhmuc {
	position: relative;
    display: inline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 256px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.nav-bottom .dropdown-content a {
    display: block;
    overflow: hidden;
    color:  #282528;
	padding: 4px;
	border-bottom: 1px solid #EDECEE;
	text-decoration: none;
	width: 256px;
	padding-left: 30px;
}

.nav-bottom .dropdown-content a:hover {
	background-color: #A633D7;
	color: #FFFFFF;
}

.nav-bottom .danhmuc:hover .dropdown-content {
    display: block;
}


.nav-bottom .btn-danhmuc .fa-navicon, .nav-bottom .btn-danhmuc .fa-angle-down {
	font-size: 16px;
	font-weight: bold;
}




/* Tùy chỉnh khuyến mãi, bán chạy, hàng mới */
.nav-bottom .nav-bottom-km, .nav-bottom .nav-bottom-banchay, .nav-bottom .nav-bottom-hangmoi {
	font-weight: bold;
	font-size: 12px;
	color: #FFFFFF;
	padding-left: 30px;
	padding-right:30px;
	border-radius: 0px;
	border-right: 1px solid #B329EE;
}

.nav-bottom .nav-bottom-km:hover, .nav-bottom .nav-bottom-banchay:hover, .nav-bottom .nav-bottom-hangmoi:hover {
	background-color: #9030BA;
}

.nav-bottom .nav-bottom-km:focus, .nav-bottom .nav-bottom-banchay:focus, .nav-bottom .nav-bottom-hangmoi:focus {
	background-color: #A633D7;
}

.nav-bottom .fa-gift, .nav-bottom .fa-tag, .nav-bottom .fa-tags {
	font-size: 16px;
	font-weight: bold;
}



/* Tùy chỉnh Body */
body {
	background-color: #FBF6FB;
}


.tieude {
	margin-top: 30px;
	margin-bottom: 20px;
}

.trangthai .label-tinhtrang{
	margin-right: 5px;
	background-color: #E1E1E1;
	padding: 10px;
	border-radius: 3px;
}

.panel-vanchuyen {
	margin-top: 20px;
	border: 1px solid #A9A9A9;
	border-radius: 3px;
	padding: 5px 16px 20px 16px;
	background-color: #FFFFFF;
}

.panel-vanchuyen .col-md-3 .row {
	padding: 2px;
}

.panel-vanchuyen .thoigian {
	border: 1px dashed #E125EB;
	padding: 8px;
	color: #E125EB;
	margin-top: 8px;
}

.panel-thongtinnhan {
	width: 570px;
	margin-left: 5px;
	margin-top: 20px;
	border: 1px solid #A9A9A9;
	border-radius: 3px;
	padding: 5px 16px 8px 16px;
	background-color: #FFFFFF;
}


.panel-donhang {
	background-color: #FFFFFF;
	margin-top: 30px;
	border: 1px solid #A9A9A9;
	border-radius: 3px;
	padding: 20px 20px 0px 20px;
	margin-bottom: 40px;
}

.tbdonhang .col-ten {
	width: 55%;
}

.tbdonhang img {
	width: 100px;
	height: 100px;
}

.tbdonhang label {
	margin-top: -8px;
	padding-left: 15px;
}

.tbdonhang .label-tong {
	color: red;	
}

.tbdonhang .row-tong {
	margin-top: 10px;
	font-size: 16px;
}
