#navbar {
	border-radius: 0px;
	background-color: #3C3C3C;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1;
}

#navbar img {
	margin-top: -15px;
}

#navbar .navbar-right .btndrop {
	font-size: 15px;
	color: #BFBFBF;
	width: auto;
	background-color: #3C3C3C;
	outline: none;
	border: none;
	padding: 12px;
	margin-right: 10px;
}

#navbar .navbar-right .btndrop:hover,
 #navbar .navbar-right .btndrop:focus {
	background-color: #3C3C3C;
	color: #FFFFFF;
	outline: none;
}

#navbar .navbar-right .dropdown-menu {
	width: auto;
	margin-right: 10px;
}

#navbar .nav .dropdown {
	z-index: 2;
}

@media(min-width:768px) {

	#myNavbar {
		position: fixed;
	    top: 51px;
	    width: 225px;
	    border: none;
	    border-radius: 0;
	    background-color: #3C3C3C;
	    bottom: 0;
	    padding-top: 10px;
	    font-size: 14px;
	    margin-left: -1px;
	}

	#myNavbar .active {
		width: 225px;
		margin-left: -15px;
		padding-left: 20px;
        background-color: #2E2E2E;
        color: #FFFFFF;
	}

	#myNavbar li>a {
		width: 225px;
		margin-left: -15px;
		color: #BFBFBF;
		padding-left: 20px;
	}

    #myNavbar li a:hover,
    #myNavbar li a:focus {
        outline: none;
        color: #FFFFFF;
        background-color: #2E2E2E; !important;
    }

    #myNavbar li>a>span {
    	font-size: 17px;
    }

    #myNavbar .fa-mobile {
    	font-size: 24px;
    }
}

/*Modal profile*/
#formProfile label {
	text-align: left;
	width: 150px;
}

#formProfile input, #formProfile textarea {
	width: 420px;

}

#formProfile button {
	margin-top: 10px;
	width: 150px;
}


@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding-left: 225px;
        padding-top: 70px;
    }
}



.huge {
	color: #FFFFFF;
	font-size: 30px;
}

.panel .panel-heading {
	color: #FFFFFF;
	font-size: 15px;
}

.panel-red {
	background-color: #E24631;
}

.panel-red a {
	color: #E24631;
}

.panel-red a:hover {
	color: #C12B17;
}

.panel-red1 {
	background-color:#F53A10;
}

.panel-red1 a {
	color: #F53A10;
}

.panel-red1 a:hover {
	color: #C12B17;
}

.panel-green {
	background-color: #76CE33;
}

.panel-green a {
	color: #76CE33;
}

.panel-green a:hover {
	color: #68B42D;
}

.panel-orange {
	background-color: #F1C432;
}

.panel-orange a {
	color: #F1C432;
}

.panel-orange a:hover {
	color: #D0AB2E;
}

.panel-blue {
	background-color: #4B38F0;
}

.panel-blue a {
	color: #4B38F0;
}

.panel-blue a:hover {
	color: #3B2CBD;
}

.panel-violet {
	background-color: #EB42F1;
}

.panel-violet a {
	color: #EB42F1;
}

.panel-violet a:hover {
	color: #9A289E;
}

#input-search {
	z-index: 0;
	margin-top: -10px;
	margin-bottom: 20px;
	float: right;
	width: 25%
}

#input-search button {
	width: 50px;
}

.star {
	font-size: 24px;
}

/* table sản phẩm*/
#table-listProduct {
	text-align: center;
	margin-top: 15px;
	font-size: 15px;
}

#table-listProduct img {
	width: 100px;
	height: 100px;
}

#table-listProduct th{
	background-color: #C0C2FF;
	text-align: center;
}

#table-listProduct .th-name-pro{
	text-align: left;
}

#table-listProduct .name-pro {
	text-align: left;
	color: blue;
}

#table-listProduct .price-pro {
	color: red;
}

/* end quản lí sản phẩm*/






/*Thêm, sửa sản phẩm*/
.file-input .file-preview-frame {
	width: 216px;
	height: 224px;
}

.file-input .btn-kv {
	margin-top: -50px;
}

.file-input .text-warning, .file-input .kv-file-upload {
	display: none;
}

.file-input .fileinput-remove-button {
	margin-left: 75px;
}

.file-input .file-upload-indicator {
	display: none;
}

#formInfoProduct .title-thongtin {
	margin-top: -20px;
}

#formInfoProduct .title, #formInfoProduct .title-thongtin {
	margin-bottom: 40px;
	border-bottom: 2px solid blue;
}

#formInfoProduct #btn-addProduct, #formInfoProduct #btn-cancelAdd {
	margin: 70px 20px 30px 0px;
	float: right;
	width: 25%;
}

/*end thêm, sửa sản phẩm*/




/* Quản lí đơn hàng*/
#table-donhang {
	margin-top: 15px;
	font-size: 15px;
}

#table-donhang thead>tr>th {
	background-color: #C0C2FF;
}

#table-donhang .guiden {
	width: 20%;
}

#table-donhang .guiden label {
	color: #FF3737;
	font-weight: normal;
}

#table-donhang .chitietdh label {
	color: #3745FF;
	font-weight: normal;
}

#table-donhang .tongtien {
	color: #FF3737;
	font-weight: bold;
}

#form-searchOrder #startdate, #form-searchOrder #Enddate {
	z-index: 0;
}



/* Chi tiết đơn hàng*/
.detailOrder-h3 {
	background-color: #CFCECE;
	width: 270px;
	margin-top: -20px;
	margin-bottom: -20px;
}

.detailOrder-h3 h3 {
	padding: 10px 5px 0px 15px;
}

.detailOrder-h3 h3>label {
	color: red;
	font-weight: normal;
}

#table-detailOrder .img-detailOrder {
	width: 12%;
}

#table-detailOrder img {
	width: 100px;
	height: 100px;
}

#table-detailOrder .name-detailOrder {
	width: 30%;
}

#table-detailOrder .num-detailOrder {
	width: 10%;
	text-align: center;
}

#table-detailOrder .price-detailOrder {
	color: red;
	width: 15%;
}

#table-detailOrder .tong-detailOrder {
	color: red;
	width: 10%;
}

.detailOrderRow2 {
	margin-top: 50px;
	margin-bottom: 50px;
}

.detailOrderRow2 a {
	text-decoration: none;
	width: 200px;
}

/* Quản lí khuyến mãi*/
.panel-promotion {
	border: 2px solid #949494;
	line-height: 26px;
	font-size: 15px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
	padding-bottom: 5px;
	margin: 0px 9px 25px 0px;
	width: 355px;
	height: 305px;
}


.panel-detailPromotion {
	margin-top: 20px;
	margin-left: 0px;
	font-size: 15px;
	line-height: 26px;
}