/* Nav bottom */
.nav-bottom, .nav-bottom .nav-pills {
	background-color: #A633D7;
}


/* Tùy chỉnh button danh mục */
.nav-bottom .btn-danhmuc {
	color: #FFFFFF;
	background-color: #9030BA;
	padding: 10px 30px 9px 20px;
	border: none;
	font-weight: bold;
	font-size: 13px;
	outline: none;
	margin-right: 5px;
}

.nav-bottom .danhmuc {
	position: relative;
    display: inline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 255px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.nav-bottom .dropdown-content a {
    display: block;
    overflow: hidden;
    color:  #282528;
	padding: 4px;
	border-bottom: 1px solid #EDECEE;
	text-decoration: none;
	width: 255px;
	padding-left: 30px;
}

.nav-bottom .dropdown-content a:hover {
	background-color: #A633D7;
	color: #FFFFFF;
}

.nav-bottom .danhmuc:hover .dropdown-content {
    display: block;
}


.nav-bottom .btn-danhmuc .fa-navicon, .nav-bottom .btn-danhmuc .fa-angle-down {
	font-size: 16px;
	font-weight: bold;
}




/* Tùy chỉnh khuyến mãi, bán chạy, hàng mới */
.nav-bottom .nav-bottom-km, .nav-bottom .nav-bottom-banchay, .nav-bottom .nav-bottom-hangmoi {
	font-weight: bold;
	font-size: 12px;
	color: #FFFFFF;
	padding-left: 30px;
	padding-right:30px;
	border-radius: 0px;
	border-right: 1px solid #B329EE;
}

.nav-bottom .nav-bottom-km:hover, .nav-bottom .nav-bottom-banchay:hover, .nav-bottom .nav-bottom-hangmoi:hover {
	background-color: #9030BA;
}

.nav-bottom .nav-bottom-km:focus, .nav-bottom .nav-bottom-banchay:focus, .nav-bottom .nav-bottom-hangmoi:focus {
	background-color: #A633D7;
}

.nav-bottom .fa-gift, .nav-bottom .fa-tag, .nav-bottom .fa-tags {
	font-size: 16px;
	font-weight: bold;
}







/* Tùy chỉnh Body */
body {
	background-color: #FBF6FB;
}


/* Tùy chỉnh đường dẫn */
.duongdan, .duongdan .row, .duongdan .breadcrumb {
	background-color: #EAE9E9;
	border-radius: 0px;
	height: 35px;	
}

.duongdan .breadcrumb {
	padding: 5px;
}

.duongdan .breadcrumb li, .duongdan .breadcrumb a {
	color: #696969;
	font-size: 12px;
}

.duongdan .breadcrumb a:hover {
	text-decoration: none;
	color: #2930FF;
}

/*Tùy chọn danh sách hiển thị sản phẩm*/
.panel-category {
	padding-top: 20px;
}

.panel-category .title-panelCate {
	background-color: #EBEAEA;
	border-bottom: 2px solid #BE19B6;
	color: #3415E3;
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.panel-category .title-panelCate .label-numPro {
	font-size: 14px;
	color: #444444;
	font-weight: normal;
	padding-left: 5px;
}

.panel-category .title-panelCate select {
	font-size: 14px;
	color: black;
	padding: 5px 23px 5px 5px;
}


.panel-product {
	background-color: #FFFFFF;
}


/* Các sản phẩm đặc trưng*/
.panel-list {
	margin-top: 20px;
}

.list-pro {
	float: left;
	margin-right: 5px;
	margin-left: 6px;
}



/*Tùy chỉnh hiển thị 1 sản phẩm*/
#sanpham {
	outline: none;
}

.thumbnail {
	height: 368px;
	width: 225px;
	border-radius: 0px;
	background-color: #FFFFFF;	
	border: 1px solid #D9D9D9;
	outline: none;
}

.thumbnail:hover {
	border: 1px solid #EC51FA;
	box-shadow: 0px 0px 1px 1px #B4AEAE;
}

/*Tùy chỉnh ảnh, chiết khấu, giá, tên, shop bán*/
.thumbnail .chietkhau {
	float: right;
	color: #DA0000;
	margin-top: -210px;
	margin-right: 10px;
	border: 1px solid red;
	z-index: 0;
	position: relative;
	font-size: 12px;
	padding: 1px 5px 1px 5px;
	background-color: #FFFFFF;
}

.thumbnail .caption {
	margin-top: 10px;
}

.thumbnail .caption .giakm {
	color: #DA0000;
	font-size: 16px;
}

.thumbnail .caption .giagoc {
	float: right;
	font-weight: normal;
	font-size: 12px;
	color: #504F4F;
}

.thumbnail .caption .tendt a {
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	color: #504F4F;
	outline: none;
}

.thumbnail .caption .tendt a:hover {
	color: #2003FA;
}

.thumbnail .caption .luotvote {
	margin-left: 0px;	
	padding: 2px 8px 10px 0px;
}

.thumbnail .caption .luotvote a {
	color: #504F4F;
	cursor: default;
	font-size: 14px;
	margin-left: 10px;
	outline: none;
}

.thumbnail .caption .luotvote button {
	background-color: #FFFFFF;
	border: 1px solid #E40A0A;
	color: #E40A0A;
	padding: 5px 10px 5px 10px;
	margin-top: -8px;
	border-radius: 4px;
	outline: none;
}

.thumbnail .caption .luotvote button:hover {
	color: #FFFFFF;
	background-color: #E40A0A;
	font-weight: bold;
}

.thumbnail .caption .ten-shop {
	background-color: #E1E1E1;
	color: #4D4DFD;
	font-size: 13px;	
	padding: 3px 0px 3px 15px;
	margin-left: -13px;
	margin-right: -13px;
}