.header {
	height: 100px;
	background-color: #FBF6FB;
	box-shadow: 0 4px 4px -2px rgba(0,0,0,.15);
}

.header .container-header {
	padding: 20px 60px 0px 60px;
}

.header .container-header .text-right {
	padding-top: 13px;
	float: right;
}

.header .container-header .text-right i {
	font-size: 16px;
}

.header .container-header .text-right span {
	font-size: 18px;
}

.header .container-header .text-right a {
	font-size: 16px;
	text-decoration: none;
	color: red;
}

.panel-diachi {
	width: 500px;
	height: 450px;	
}

.panel-diachi h2 {
	text-align: center;
}


/*Tùy chỉnh form đăng kí */
#form-diachi {
	margin-top: 40px;	
}

#form-diachi input, #form-diachi select {
	width: 100%;
	border: none;
	border-bottom: 1px solid #E2E1E1;
	padding: 2px 0px 1px 5px;
	outline: none;
}

#form-diachi input:focus {
	border-bottom: 2px solid #E528FA;
}

#form-diachi label {
	padding-left: 5px;
	font-size: 16px;
}

#form-diachi button {
	margin-top: 20px;
	width: 200px;
	margin-left: 140px;
}

.footer {
	font-size: 12px;
	margin-top: 60px;
}