.link-dangnhap {
	padding: 10px 0px 5px 0px;
	font-size: 15px;
}

.link-dangnhap a {
	color: red;
	outline: none;
	text-decoration: none;
}

/* Tùy chọn modal đăng nhập */
#modalLogin h4 {
	font-weight: bold;
}

#modalLogin .close span {
	font-size: 30px;
}

#modalLogin .close {
	margin-top: -5px;
}

#login {
	margin-top: 15px;
	margin-bottom: 30px;
}

#modalLogin .btn-danger {
	margin-right: 20px;
}

#modalLogin a {
	text-decoration: none;
	color: #F82525;
}

/* Tùy chỉnh panel logan */
.panel-logan {
	background-color: #A633D7;
	height: 100px;
	text-align: center;
	color: #FFFFFF;
}


#panel-left {
	padding-top: 30px;
}

#panel-left h2 {
	color: #A633D7;
}

#panel-left p {
	color: #79767A;
	font-size: 18px;
}

#panel-left img {
	width: 400px;
	height: 200px;
}

/*Tùy chỉnh form đăng kí */
#panel-right {
	padding-top: 20px;
}

#panel-right #register input {
	width: 100%;
	border: none;
	border-bottom: 1px solid #E2E1E1;
	padding: 2px 0px 1px 5px;
	outline: none;
}

#panel-right #register input:focus {
	border-bottom: 2px solid #E528FA;
}

#panel-right #register label {
	font-weight: normal;
	padding-left: 5px;
	font-size: 15px;
}

#panel-right #register button {
	margin-top: 30px;
	margin-left: 30px;
}

.footer {
	font-size: 12px;
	margin-top: 38px;
}