/* Nav bottom */
.nav-bottom, .nav-bottom .nav-pills {
	background-color: #A633D7;
}


/* Tùy chỉnh button danh mục */
.nav-bottom .btn-danhmuc {
	color: #FFFFFF;
	background-color: #9030BA;
	padding: 10px 30px 9px 20px;
	border: none;
	font-weight: bold;
	font-size: 13px;
	position: relative;
	outline: none;
	margin-right: 5px;
}

.nav-bottom .btn-danhmuc .fa-navicon, .nav-bottom .btn-danhmuc .fa-angle-down {
	font-size: 16px;
	font-weight: bold;
}

/* Tùy chỉnh khuyến mãi, bán chạy, hàng mới */
.nav-bottom .nav-bottom-km, .nav-bottom .nav-bottom-banchay, .nav-bottom .nav-bottom-hangmoi {
	font-weight: bold;
	font-size: 12px;
	color: #FFFFFF;
	padding-left: 30px;
	padding-right:30px;
	border-radius: 0px;
	border-right: 1px solid #B329EE;
}

.nav-bottom .nav-bottom-km:hover, .nav-bottom .nav-bottom-banchay:hover, .nav-bottom .nav-bottom-hangmoi:hover {
	background-color: #9030BA;
}

.nav-bottom .nav-bottom-km:focus, .nav-bottom .nav-bottom-banchay:focus, .nav-bottom .nav-bottom-hangmoi:focus {
	background-color: #A633D7;
}

.nav-bottom .fa-gift, .nav-bottom .fa-tag, .nav-bottom .fa-tags {
	font-size: 16px;
	font-weight: bold;
}




/* Tùy chỉnh Body */
body {
	background-color: #FBF6FB;
}

.body {
	margin-top: 1px;
}

.danhmuc {
	width: 254px;
	height: 437px;
	border: 1px solid #B329EE;
	background-color: #FFFFFF;
	margin-right: 1px;
}

.danhmuc a {
	display: block;
	color:  #282528;
	padding: 4px;
	border-bottom: 1px solid #EDECEE;
	text-decoration: none;
	width: 252px;
	padding-left: 30px;
}

.danhmuc a:hover {
	background-color: #A633D7;
	color: #FFFFFF;
}

/*Panel right : slider-promotion, panel-ship */
#myCarousel{
	width: 955px;
	margin-bottom: 1px;
}

#myCarousel img {
	width: 955px;
	height: 370px;
}

#myCarousel .carousel-control {
	width: 90px;
	padding-top: 130px;
}

#myCarousel .carousel-control span {
	font-size: 90px;
}

.panel-ship {
	width: 955px;
}

.panel-ship img {
	width: 318px;
	height: 66px;
	margin-right: -3px;
}


/* Tùy chỉnh panel sản phẩm mới, nổi bật, bán chạy */
.panel-product {
	margin-top: 30px;
	background-color: #FFFFFF;
}

.panel-product .nav-pills {
	background-color: #F0EDF0;
	margin-bottom: 5px;
}

.panel-product .nav-pills a {
	margin-left: 15px;
	font-size: 15px;
	font-weight: bold;
	background-color: #F0EDF0;
	color: #3415E3;
}

.panel-product .nav-pills a:hover {
	background-color: #F0EDF0;
	border-bottom: 2px solid #BE19B6;
	border-radius: 0px;
}

.panel-product .pill-custom .active a{
    background-color: #F0EDF0;
    color: #3415E3;
    border-bottom: 2px solid #BE19B6;
    border-radius: 0px;
}

.panel-product .pill-custom .active a:hover {
	background-color: #F0EDF0;
    color: #3415E3;
}

.panel-product .pill-custom .active a:focus {
	background-color: #F0EDF0;
    color: #3415E3;
    border-bottom: 2px solid #BE19B6;
    border-radius: 0px;
}


/* Tùy chỉnh slider sản phẩm mới nổi bật, bán chạy, giảm giá*/
.panel-product {
	margin-top: 40px;
	background-color: #FFFFFF;
}

.panel-title {
	background-color: #EBEAEA;
	border-top: 2px solid #BE19B6;
	color: #3415E3;
	padding: 5px 0px 5px 20px;
	margin-bottom: 10px;
}

.panel-img, .panel-img img {
	width: 260px;
	height: 368px;
}

.panel-slider {
	width: 903px;
	float: right;
	margin-right: 25px;
}

.slider {
	width: 903px;
	margin: 0 auto;
}

.slider div {
	outline: none;
}

.slider .slick-prev, .slider .slick-next {
    width:30px;
    height: 30px;
    margin: 0px;
    z-index: 1;
}

.slider .slick-prev:before, .slider .slick-next:before {
	color: #A633D7;
	font-size: 35px;
}


.slider a {
	text-decoration: none;
}



/* slider-newPro */
.slider-fastPro {
	width: 1160px;
	margin: 0 auto;
}

.slider-fastPro div {
	outline: none;
}

.slider-fastPro .slick-prev, .slider-fastPro .slick-next {
    width:30px;
    height: 30px;
    margin: 0px;
    z-index: 1;
}

.slider-fastPro .slick-prev:before, .slider-fastPro .slick-next:before {
	color: #A633D7;
	font-size: 35px;
}

.slider-fastPro a {
	text-decoration: none;
}


/* Các sản phẩm đặc trưng*/
.panel-list {
	margin-top: 20px;
}

.list-pro {
	float: left;
	margin-right: 5px;
	margin-left: 6px;
}



/*Tùy chỉnh hiển thị 1 sản phẩm*/
#sanpham {
	outline: none;
}

.thumbnail {
	height: 368px;
	width: 225px;
	border-radius: 0px;
	background-color: #FFFFFF;	
	border: 1px solid #D9D9D9;
	outline: none;
}

.thumbnail:hover {
	border: 1px solid #EC51FA;
	box-shadow: 0px 0px 1px 1px #B4AEAE;
}

/*Tùy chỉnh ảnh, chiết khấu, giá, tên, shop bán*/
.thumbnail .chietkhau {
	float: right;
	color: #DA0000;
	margin-top: -210px;
	margin-right: 10px;
	border: 1px solid red;
	z-index: 0;
	position: relative;
	font-size: 12px;
	padding: 1px 5px 1px 5px;
	background-color: #FFFFFF;
}

.thumbnail .caption {
	margin-top: 10px;
}

.thumbnail .caption .giakm {
	color: #DA0000;
	font-size: 16px;
}

.thumbnail .caption .giagoc {
	float: right;
	font-weight: normal;
	font-size: 12px;
	color: #504F4F;
}

.thumbnail .caption .tendt{
	height: 40px;
}

.thumbnail .caption .tendt a {
	font-size: 13px;
	text-decoration: none;
	font-weight: normal;
	color: #504F4F;
	outline: none;	
}

.thumbnail .caption .tendt a:hover {
	color: #2003FA;
}

.thumbnail .caption .luotvote {
	bottom: 54px;
	position: all;
	width: 200px;
	margin-left: 0px;	
}

.thumbnail .caption .luotvote a {
	color: #504F4F;
	cursor: default;
	font-size: 14px;
	margin-left: 30px;
	outline: none;
	position: absolute;
	padding-top: 10px;
}

.thumbnail .caption .luotvote button {
	background-color: #FFFFFF;
	border: 1px solid #E40A0A;
	color: #E40A0A;
	padding: 5px 10px 5px 10px;
	border-radius: 4px;
	outline: none;
	margin-top: -6px;
}

.thumbnail .caption .luotvote button:hover {
	color: #FFFFFF;
	background-color: #E40A0A;
	font-weight: bold;
}

.thumbnail .caption .ten-shop {
	background-color: #E1E1E1;
	color: #4D4DFD;
	font-size: 13px;	
	padding: 3px 0px 3px 15px;
	margin-left: -13px;
	margin-right: -13px;
	position: all;
	width: 223px;
	margin-top: 6px;
}